body {
    background: #f8f8f8 !important;
}
.p-2 {
    padding: 1em !important;
}
.text-center {
    text-align: center;
}
.image {
    background-color: transparent !important;
}
.image-container {
    min-height: 150px !important;
}
/* On screens that are 992px or less, set the background color to blue */
/* @media screen and (max-width: 1920px) {
    .image-20 {
        min-height: 350px;
        margin: 0 auto;
    }
    .img-container {
        min-height: 260px;
    }
  } */
